.header {
    margin-top:67px;
    margin-left:130px;
    width: 109.412px;
    height: 36.364px;
    display: flex;
    justify-content: space-between;
;
}
.header__logo {
}
.header__cartandgood {
}
.header__kor {
}
.heade__kruzhok {
}
.offer {
}
.offer__imgcenter {
}
.offer__title {
}
.offer__background {
}
.menu {
}
.menu__list {
}
.menu__listitem {
}